<?xml version="1.0" encoding="UTF-8"?><plist version="0.9"><dict>	<key>CFBundleExecutable</key>	<string>PlugIn</string>	<key>CFPlugInDynamicRegistration</key>	<string>NO</string>	<key>CFPlugInFactories</key>	<dict>		<key>68753A44-4D6F-1226-9C60-0050E4C00067</key>		<string>MyFactory</string>	</dict>	<key>CFPlugInTypes</key>	<dict>		<key>D736950A-4D6E-1226-803A-0050E4C00067</key>		<array>			<string>68753A44-4D6F-1226-9C60-0050E4C00067</string>		</array>	</dict></dict></plist>